body {
    background-color: #1c1c1c;
    color: #ff7f00;
}

.kodluyoruz-div {
    text-align: center;
}

.kodluyoruz-logo {
    width: 35%;
}

.text1 {
    text-align: center;
}

#time {
    text-align: center;
    font-size: 4rem;
    margin: 3.125rem 0 3.125rem 0;
}

.text2 {
    text-align: center;
    font-size: 1.5rem;
}

#text2-bold {
    font-weight: 900;
}